* {
  box-sizing: border-box;
}
.shopName {
  color: green;
  font-size: 3rem;
}
.header {
  display: grid;
  grid-template-columns: 2fr max-content max-content max-content;
  align-items: center;
  justify-items: center;
  column-gap: 2rem;
}
