* {
  box-sizing: border-box;
}
.shopName {
  color: green;
  font-size: 4rem;
}
.header {
  display: grid;
  grid-template-columns: 3fr max-content max-content;
  align-items: center;
  justify-items: center;
  column-gap: 2rem;
}
